build/
build_*/
build_wsl*/
out/
*.iso
*.img
*.qcow2
*.vdi
*.vmdk
*.log
*.tmp
*.o
*.a
*.pyc
__pycache__/
.VSCodeCounter/
src.zip
vbox-boot*.png
freebsd/ridux-runtime/compat_snapshot/
rootfs/
third_party/
